<app-cabecera></app-cabecera>
<div class="container-fluid">
    <div class="row" id="titulo">
        <div class="col-12 justify-content-center align-items-center d-flex">
            <h1>Administración</h1>
        </div>
        <hr>
    </div>
    <div class="row" id="cuerpo">
        <div class="col-12">
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-9 justify-content-start align-items-center d-flex">
                    <h3>Usuarios Registrados</h3>
                </div>
            </div>
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-9">
                    <div class="tabla table-scrollable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><span class="d-flex justify-content-center align-items-center">Id</span></th>
                                    <th><span class="d-flex justify-content-center align-items-center">Nombre</span></th>
                                    <th><span class="d-flex justify-content-center align-items-center">Apellidos</span></th>
                                    <th><span class="d-flex justify-content-center align-items-center"><input  type="text" placeholder="Email" [(ngModel)]="buscador" (change)="buscar()" /></span></th>
                                    <th><span class="d-flex justify-content-center align-items-center">Modificar</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let solicitud of this.solicitudesAMostrar">
                                    <td><span class="d-flex justify-content-center align-items-center">{{solicitud.id}}</span></td>
                                    <td><span class="d-flex justify-content-center align-items-center">{{solicitud.nombre}}</span></td>
                                    <td><span class="d-flex justify-content-center align-items-center">{{solicitud.apellidos}}</span></td>
                                    <td><span class="d-flex justify-content-center align-items-center">{{solicitud.email}}</span></td>
                                    <td>
                                        <span class="d-flex justify-content-center align-items-center">
                                            <input type="button" value="Borrar" name="borrar" id="borrar" (click)="desestimarUsuario(solicitud.id)" class="modificar borrar">
                                            </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
